<div class="fullcontainer">
<h1 class="title"><b>NoloNoloPlas</b></h1>
<mat-grid-list [ngClass]="oneCol ? 'maxheight' : ''" [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="64vh">
    <mat-grid-tile id="lastile" [colspan]="2" class="propic">
    <div class="owl-carousel owl-theme my-carousel">
        <div class="item"><img class="carousel-image" src="assets/images/fight1.jpg" alt="Immagine Guerra Santa 1"></div>
        <div class="item"><img class="carousel-image" src="assets/images/fight2.webp" alt="Immagine Guerra Santa 1"></div>
        <div class="item"><img class="carousel-image" src="assets/images/fight3.jpg" alt="Immagine Guerra Santa 1"></div>
        <!--<div class="item"><img class="carousel-image" src="assets/images/defaultPropic.png"></div>
        <div class="item"><img class="carousel-image" src="assets/images/defaultPropic.png"></div>-->
    </div>
    </mat-grid-tile>
    <mat-grid-tile id="explanation" colspan="2"><div class="written">Salve amici di NoloNoloPlas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eos expedita earum fuga deserunt natus modi, placeat magnam incidunt quisquam est ipsam dolorum neque error in, ad quo saepe! Reprehenderit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus sapiente aperiam velit incidunt non dolore tenetur porro laborum asperiores dolorum optio dolor quis cupiditate itaque voluptatem vitae, eius cumque suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam accusantium facilis porro consectetur a! Sit, ipsa. Labore cupiditate odit maiores accusamus atque quaerat necessitatibus accusantium harum aliquid voluptatibus! Illum, nam?</div></mat-grid-tile>
</mat-grid-list>
<h2 class="subtitle red" *ngIf="todayCrusade()">LA GUERRA SANTA INIZIA: NOLEGGIA OGGI PER IL 25% DI SCONTO SU OGNI ARTICOLO!</h2>
<br>
<h4 class="subtitle">Alcune delle nostre proposte</h4>
<div [ngClass]="oneCol ? 'tryArticles' : 'tryArticles row container'">
    <app-article-card *ngFor="let article of myArticlesFiltered" [article]="article" [tryRent]="true"></app-article-card>
 </div>