<div class="fullcontainer">
<h1 class="title"><b>NoloNoloPlas</b></h1>
<mat-grid-list [ngClass]="oneCol ? 'maxheight' : ''" [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="64vh">
    <mat-grid-tile id="lastile" [colspan]="2" class="propic">
    <div class="owl-carousel owl-theme my-carousel">
        <div class="item"><img class="carousel-image" src="assets/images/fight1.jpg" alt="Immagine Guerra Santa 1"></div>
        <div class="item"><img class="carousel-image" src="assets/images/fight2.webp" alt="Immagine Guerra Santa 1"></div>
        <div class="item"><img class="carousel-image" src="assets/images/fight3.jpg" alt="Immagine Guerra Santa 1"></div>
        <!--<div class="item"><img class="carousel-image" src="assets/images/defaultPropic.png"></div>
        <div class="item"><img class="carousel-image" src="assets/images/defaultPropic.png"></div>-->
    </div>
    </mat-grid-tile>
    <mat-grid-tile id="explanation" colspan="2"><div class="written">Salve amici di NoloNoloPlas! Il nostro servizio di noleggio vi permetterà di combattere per i vostri valori, per il vostro coraggio, per i vostri avi! Vi offriamo le migliori armi forgiati dalle mani più virtuose di quest'era, oltre che avanguardie tecnologiche per poter esportare un po' di sano cristianesimo nel Medio-Oriente che ci meritiamo.<br>I nostri numerosi sconti, disponibili per gli utenti che si registreranno al nostro sito, spaziano da sconti per noleggi settimanali, a sconti fedeltà. Non lasciarti poi scappare i nsotri "articoli suggeriti"!<br>CROCIATE! Presta attenzione al periodo di crociate: solo se noleggi uno dei nostri articoli durante la guerra santa riceeverai un ulteriore sconto!</div></mat-grid-tile>
</mat-grid-list>
<h2 class="subtitle red" *ngIf="todayCrusade()">LA GUERRA SANTA INIZIA: NOLEGGIA OGGI PER IL 25% DI SCONTO SU OGNI ARTICOLO!</h2>
<br>
<h4 class="subtitle">Alcune delle nostre proposte</h4>
<div [ngClass]="oneCol ? 'tryArticles' : 'tryArticles row container'">
    <app-article-card *ngFor="let article of myArticlesFiltered" [article]="article" [tryRent]="true"></app-article-card>
 </div>
 <mat-divider></mat-divider>
 <div class="contactsdiv">
    <br>
    <h5 class="subtitle">Contatti</h5>
    <br>
    <h6 class="contacts"><a href="https://github.com/AndreaZecca">Andrea Zecca</a></h6>
    <br>
    <h6 class="contacts"><a href="https://github.com/JosephCarrino">Giuseppe Carrino</a></h6>
    <br>
    <h6 class="contacts"><a href="https://github.com/UmbertoCarlucci01">Umberto Carlucci</a></h6>
    <br>
    <p class="copy"><small>Copyright all rights reserved</small></p>
    <br>
 </div>