.rental{
    background-color: #f7f7f7;
    max-width: 300px;
    margin-top: 20px;
}

.imgrent{
   /*margin: auto;*/
   /*border-radius: 90  %;*/
   mix-blend-mode: multiply;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
}

body{
    overflow: hidden;
}

.example-section {
    margin: auto;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  
  #queriesForm > *{
      margin: auto;
  }

  .red{
    color: red;
  }

  #modify {
    list-style-type:circle;
  }

  .mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }
  