<h1><b>I tuoi noleggi</b></h1>
<form id="queriesForm" [formGroup]="queriesForm" #formDir="ngForm" (ngSubmit)="onSubmitQuery()">
    <section class="example-section">
        <span class="example-list-section">
        <mat-checkbox matInput class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            {{task.name}}
        </mat-checkbox>
        </span>
        <span class="example-list-section">
        <ul>
            <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox matInput [formControlName]="subtask.value" [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                {{subtask.name}}
            </mat-checkbox>
            </li>
        </ul>
        </span>
    </section>
    <mat-form-field>
        <mat-label>Data di Inizio</mat-label>
        <input matInput [matDatepicker]="start" formControlName="date_start">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
      <br><br>
      <mat-form-field>
        <mat-label>Data di Fine</mat-label>
        <input matInput [matDatepicker]="end" formControlName="date_end">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
      <br><br>
    <button mat-raised-button color="primary" type="submit" id="submitbutton">Filtra Noleggi</button>
    <p *ngIf="this.wrong">Date non corrette</p>
</form>

<div [ngClass]="oneCol ? '' : 'row container'">
<mat-card *ngFor="let rental of myRentals " class="rental">
    <mat-card-title-group [ngClass]="(rental.state == 'Cancellato.') ? 'deleted' : ''">
        <mat-card-title>{{rental.myItem.name}}</mat-card-title>
        <mat-card-subtitle>{{rental.myItem.superCategory}}</mat-card-subtitle>
        <img alt="Immagine relativa a {{rental.myItem.name}}" class="imgrent" mat-card-md-image src={{rental.myItem.img}}>
    </mat-card-title-group>
        <mat-card-content>
            <p><b>Data di Inizio: </b>{{rental.date_start}}</p>
            <p><b>Data di Fine: </b>{{rental.date_end}}</p>
            <p><b>Stato del Noleggio: </b>{{rental.state}}</p>
            <p *ngIf="rental.estimated.summary.length != 0"><b>Modifiche al prezzo:</b></p> <ul id="modify"><li class="myred" *ngFor="let summ of rental.estimated.summary"><b>{{summ}}</b></li></ul>
            <h3 *ngIf="rental.estimated.price != 0 && rental.state !='Cancellato.'"><b>Costo: €{{rental.estimated.price}}</b></h3>
            <h3 *ngIf="((rental.tosub == true) && (rental.state != 'In ritardo.') && (!rental.worse) && (rental.state != 'Cancellato.') && (rental.state != 'Terminato.'))" class="red"><b>L'oggetto risulta al momento rotto o non disponibile!</b></h3>
            <h3 *ngIf="(rental.worse == true && rental.tosub == true) && (rental.state != 'Cancellato.') && (rental.state != 'Terminato.')" class="red"><b>L'oggetto è al momento in condizioni peggiori rispetto al momento del noleggio!</b></h3>
            <h3 *ngIf="(rental.state == 'In ritardo.') && (rental.state != 'Cancellato.') && (rental.state != 'Terminato.')" class="red"><b>Oggetto non restiuito! Si sollecita l'utente a una restituzione celere.</b></h3>
        </mat-card-content>
        <mat-divider inset *ngIf="(((rental.state == 'In attesa di approvazione.') || (rental.state == 'Approvato.') || (rental.tosub == true)) && (rental.state != 'In ritardo.') && (rental.state != 'Cancellato.') && (rental.state != 'Terminato.'))"></mat-divider>
        <mat-card-actions *ngIf="(((rental.state == 'In attesa di approvazione.') || (rental.state == 'Approvato.')) && (!rental.tosub) && (rental.state != 'Cancellato.'))">
            <button mat-button type="button" (click) = "modifyRental(rental.suggested, rental._id)">MODIFICA</button>
            <button mat-button type="button" color="warn" (click)="deleteRental(rental._id)">ELIMINA</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="(((rental.tosub == true) && (rental.state != 'In ritardo.') && (rental.state != 'Cancellato.') && (rental.state != 'Terminato.')))">
            <button mat-button type="button" (click) = "modifyRental(rental.suggested, rental._id)">MODIFICA</button>
            <button mat-button type="button" color="warn" (click)="deleteRental(rental._id)">ELIMINA</button>
            <button mat-button type="button" color="primary" (click)="showSuggested(rental.myItem._id, rental.date_start, rental.date_end, rental._id)">SOSTITUISCI GRATIS</button>
        </mat-card-actions>
</mat-card>
</div>