.rental{
    background-color: #f7f7f7;
    max-width: 300px;
    margin-top: 20px;
}

.imgrent{
   /*margin: auto;*/
   /*border-radius: 90  %;*/
   mix-blend-mode: multiply;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
}