<div class="loginform">
    <h1>NoloNoloPlas</h1>
    <h3>Accedi</h3>
    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Inserisci email</mat-label>
            <input matInput placeholder="mariorossi@esempio.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Inserisci password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" id="submitbutton">Accedi</button>
    </form>

</div>
