<div class="loginform">
    <h1>NoloNoloPlas</h1>
    <h3>Accedi</h3>
    <form id="logform" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label for="username">Inserisci nome utente</mat-label>
            <input matInput id="username" placeholder= "MarioRossi" [type]="'text'" formControlName="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="password">Inserisci password</mat-label>
            <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" id="submitbutton">Accedi</button>
        <mat-spinner *ngIf="inProgress"></mat-spinner>
        <p class="danger" *ngIf="wrong">Username o password non corretti.</p>
    </form>

</div>
