.page-container {
    height: 100%;
    background: grey;
    color: #000;

    display: flex;
    flex-direction: column;
}

.page-container a {
        color: inherit;
        text-decoration: none;
    }

.page-container header {
        background: #3f51b5;
        color: #fff;

        padding: 18px 24px;
        
        font-size: 14px;
        font-weight: bold;

        display: flex;
        justify-content: space-between;

}

header .menu-button {
            margin-right: 24px;
            min-width: 0;
            padding: 0;
            line-height: normal;
        }

header .app-title {
            padding: 0 3px;
            font-size: 18px;
        }

.sidenav-container {
    background-color: #f2f2f2;
    flex: 1;
}

.sidenav-container .sidenav {
    min-width: 240px;
}

.sidenav a {
    display: block;
    padding: 6px 24px;
    width: 100%;
    text-align: left;
}

.sidenav-container main {
    padding: 18px 24px;
}

.sidenav-container {
    flex: 1;
}

.sidenav-container .sidenav {
    min-width: 240px;
}

.sidenav a {
    display: block;
    padding: 6px 24px;
    width: 100%;
    text-align: left;
}

.sidenav-container main {
    padding: 18px 24px;
}

.sidelem span {
    margin-left: 7px;
    padding: 2px;
}

