.rental{
    background-color: #f7f7f7;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
}

.imgrent{
   /*margin: auto;*/
   /*border-radius: 90  %;*/
   mix-blend-mode: multiply;

}

.centered{
    margin: auto;
}