<mat-card class="article" >
    <mat-card-title-group [ngClass]="((article.state == 'broken') || (article.state == 'unavailable') && !(tryRent && mylog() == false)) ? 'broken' : ''">
        <mat-card-title>{{article.name}}</mat-card-title>
        <mat-card-subtitle>{{article.superCategory}}</mat-card-subtitle>
        <img alt="Immagine relativa a {{article.name}}" class="imgrent" mat-card-md-image src={{article.img}}>
        <section *ngIf="!newPage && !tryRent">
            <button *ngIf="article.favorite" type="button" class="favorite" (click)="removePref(article._id)"><mat-icon>favorite</mat-icon></button>
            <button *ngIf="!article.favorite" type="button" class="favorite" (click)="addPref(article._id)"><mat-icon>favorite_border</mat-icon></button>
        </section>
    </mat-card-title-group>
        <mat-card-content>
            <p><b>Categoria: </b>{{article.category}}</p>
            <p *ngIf="!tryRent && article.state != '' && (!subs || sugg)"><b>Stato dell'oggetto: </b><span [ngClass]="(article.state == 'broken' || article.state == 'unavailable') ? 'myred' : ''">{{article.translated}}</span></p>
            <h3 *ngIf="!(article.final) && !(article.max) && (!subs || sugg)"><b>Costo al giorno massimo: €{{article.price}}</b></h3>
            <span *ngIf="article.start"><p><b>Data di inizio:   {{article.start}}</b></p></span>
            <span *ngIf="article.end"><p><b>Data di fine:   {{article.end}}</b></p></span>
            <div *ngIf="article.discounts"><span *ngIf="article.discounts.length != 0"><h3 class="red" *ngFor="let discount of article.discounts">{{discount}}</h3></span>
            <span *ngIf="article.final && article.discounts.length == 0"><h4><b>Prezzo finale:   €{{article.final}}</b></h4></span>
            <span *ngIf="article.final && article.discounts.length != 0"><h4><b>Prezzo finale:   </b><span style="text-decoration:line-through">€{{article.fakePrice}}</span><b><span class="red"> €{{article.final}}</span></b></h4></span></div>
            <span *ngIf="article.max"><h4><b>Prezzo finale massimo:  <span class="red"> €{{article.max}}</span></b></h4></span>
        </mat-card-content>
        <mat-divider inset *ngIf="(!((article.state == 'broken') || (article.state == 'unavailable')) && !newPage && !subs) || (tryRent && mylog() == false)"></mat-divider>
        <mat-card-actions *ngIf="!subs">
            <button *ngIf="((!tryRent) || mylog() == true)  && !newPage && !((article.state == 'broken') || (article.state == 'unavailable'))" mat-button type="button" routerLink="/rental/{{article._id}}">NOLEGGIA</button>
            <button *ngIf="(!newPage && tryRent) && mylog()  == false" mat-button type="button" (click)="myNav()">PROVA NOLEGGIO</button>
    </mat-card-actions>
</mat-card>
