<h1><b>I nostri Articoli</b></h1>

<form id="queriesForm" [formGroup]="queriesForm" #formDir="ngForm">
    <section class="example-section">
        <h3>Filtri disponibili</h3>
        <span class="example-list-section">
        <div [ngClass]="(oneCol) ? '.states2' : '.states'">
        <h4>Stato articolo</h4>
        <ul [ngClass]="(oneCol) ? '' : 'checkRow'">
            <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox matInput [formControlName]="subtask.value" [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (change)="letFilter()">
                {{subtask.name}}
            </mat-checkbox>
            </li>
        </ul>
    </div>
        </span>
    </section>
    <br>
    <section class="example-section">
        <span class="example-list-section">
        <div [ngClass]="(oneCol) ? '.states2' : '.states'">
        <h4>Categorie articolo</h4>
        <ul [ngClass]="(oneCol) ? '' : 'checkRowCate'">
            <li *ngFor="let subtask of categories.subtasks">
            <mat-checkbox matInput [formControlName]="subtask.value" [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (change)="letFilter()">
                {{subtask.name}}
            </mat-checkbox>
            </li>
        </ul>
    </div>
        </span>
    </section>
    
    <br>
    <section>
        <h4>Ordinamento</h4>
        <mat-form-field [ngClass]="oneCol ? '' : ''">
            <mat-label for="sortBy">Ordina per:</mat-label>
            <mat-select matInput id="sortingSelect" formControlName="sortBy" (selectionChange)="sortByPrice()">
                <mat-option value="higherPrice">Prezzo discendente</mat-option>
                <mat-option value="lowerPrice">Prezzo ascendente</mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <br>
    <section>
        <h4>Prezzo</h4>
        <mat-form-field >
            <mat-label>Prezzo minimo</mat-label>
            <input matInput formControlName="priceLow" (input)="letFilter()">
        </mat-form-field>
        <br><br>
        <mat-form-field >
            <mat-label>Prezzo massimo</mat-label>
            <input matInput formControlName="priceHigh" (input)="letFilter()">
        </mat-form-field>
    </section>
</form>

<div [ngClass]="oneCol ? '' : 'row container'">
   <app-article-card *ngFor="let article of myArticlesFiltered" [article]="article"></app-article-card>
</div>