/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: grey;}
@font-face {
    font-family: trocchi;
    src: url(assets/fonts/Trocchi-Regular.ttf) format("opentype");
  }

@font-face {
font-family: metamorphous;
src: url(assets/fonts/Metamorphous-Regular.ttf) format("opentype");
}